/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 Colours scheme:
 #9E3B33
 #81C6DD
 #E48743
 #E48743
 #E9B64D
 #90CA77 
 from http://www.colorcombos.com/color-schemes/426/ColorCombo426.html
 */

/* bootstrap imports */

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
    display: block;
    margin: 0;
    padding-top: 60px;  
}

.notice {
    padding-top: 1em;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    line-height: 1.7em;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}