/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 Colours scheme:
 #9E3B33
 #81C6DD
 #E48743
 #E48743
 #E9B64D
 #90CA77 
 from http://www.colorcombos.com/color-schemes/426/ColorCombo426.html
 */

#header {
	width:100%;
	height:38px;
	background-color:#90CA77;
	color:#9E3B33;
	padding:0;
	margin:0;
}
ul#navbar {
	font-family:Arial, sans-serif;
	font-size:20px;
	list-style-type: none;
	margin:0px;
	padding-top:10px;
	padding-left:10px;
}
ul#navbar li{
	display:inline;
	padding:10px;
}
body {
  display: block;
  margin: 0;
}
#logout_div {
	float:right;
	padding:9px;
}
#menu_div {
	float:left;
}
#content {
	margin-left:17px;
	padding-top:10px;
}
.page-title {
	color:#E48743;	
}
.data-table {
	border:1px solid #E48743;
	border-spacing:0;
}
.data-table tr th{
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
	padding-bottom:6px;
	background-color:#81C6DD;
	color:#9E3B33;
	border-right:1px solid #E48743;
}